{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% sonata_template_box 'This is the payment confirmation template. Feel free to override it.' %}

<div class="sonata-payment-confirmation">
    {% if order.isvalidated %}
        <h1>{{ 'title_validation_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>
        <p>
            {% autoescape false %}
                {{ 'message_validation_payment'|trans({}, 'SonataPaymentBundle') }}
            {% endautoescape %}
        </p>

    {% elseif order.ispending %}
        <h1>{{ 'title_pending_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>

        <p>
            {{ 'message_pending_payment'|trans({}, 'SonataPaymentBundle') }}
        </p>
    {% else %}

        <h1>{{ 'title_not_validated_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>

        <p>
            {{ 'message_not_validated_payment'|trans({}, 'SonataPaymentBundle') }}
        </p>

    {% endif %}


    <div class="well">
        <a class="btn btn-default" href="{{ url('sonata_user_profile_show') }}"><i class="glyphicon glyphicon-home"></i>&nbsp;{{ 'message_view_user_profile'|trans({}, 'SonataPaymentBundle') }}</a>

        <a class="btn btn-primary pull-right" href="{{ url('sonata_order_view', {'reference' : order.reference }) }}"><i class="glyphicon glyphicon-file icon-white"></i>&nbsp;{{ 'message_view_order_payment'|trans({}, 'SonataPaymentBundle') }}</a>
    </div>
</div>
