{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@SonataPage/base_layout.html.twig' %}

{% block sonata_page_container %}
    <div class="container">
        <div class="content">
            <div class="row page-header">
                <div class="col-12">
                    {{ sonata_page_render_container('header', 'global') }}
                </div>
            </div>

            {% block sonata_page_breadcrumb %}
                <div class="row">
                    <div class="col-12">
                        {{ sonata_block_render_event('breadcrumb', { 'context': 'page', 'current_uri': app.request.requestUri }) }}
                    </div>
                </div>
            {% endblock %}

            {% if page is defined %}
                <div class="row">
                    <div class="col-12">
                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_top', 'global') }}
                        {% endif %}
                        {{ sonata_page_render_container('content_top', page) }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    {% block page_content %}
                        {% if content is defined %}
                            {{ content|raw }}
                        {% else %}
                            {% set content = block('content') is defined ? block('content') : '' %}
                            {% if content|length > 0 %}
                                {{ content|raw }}
                            {% elseif page is defined %}
                                {{ sonata_page_render_container('content', page) }}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>

            {% if page is defined %}
                <div class="row">
                    <div class="col-12">
                        {{ sonata_page_render_container('content_bottom', page) }}

                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_bottom', 'global') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        <footer>
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
    </div>
{% endblock %}
