{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-order-block-recent-order">
        {% if settings.title %}
            <h3 class="sonata-order-block-recent-order">{{ settings.title }}</h3>
        {% endif %}

        <div class="alert alert-default">
            <strong>This is the recent orders block</strong>
            <div>Feel free to override it. This template can be found in <code>SonataOrderBundle:Block:recent_orders.html.twig</code>.</div>
        </div>

        {% if orders|length > 0 %}
            <table class="sonata-order-block-order-container table table-condensed">
                {% for order in orders %}
                    {% set rowClass = 'error' %}
                    {% if order.status is constant('Sonata\\Component\\Order\\OrderInterface::STATUS_VALIDATED') %}
                        {% set rowClass = 'success' %}
                    {% elseif order.status is constant('Sonata\\Component\\Order\\OrderInterface::STATUS_OPEN') or order.status is constant('Sonata\\Component\\Order\\OrderInterface::STATUS_PENDING') %}
                        {% set rowClass = 'info' %}
                    {% endif %}
                    <tr class="{{ rowClass }}">
                        {% if context.getSetting('mode') == 'admin' %}
                            <td><a href="{{ url('admin_sonata_order_order_edit', { 'id': order.id }) }}">{{ order.reference }}</a></td>
                        {% else %}
                            <td><a href="{{ url('sonata_order_view', { 'reference': order.reference }) }}">{{ order.reference }}</a></td>
                        {% endif %}
                        <td>{{ order.statusName|trans({}, 'SonataOrderBundle') }}</td>
                        <td class="number">{{ order.totalInc|number_format_currency(order.currency.label) }}</td>
                        <td>{{ order.createdAt|date() }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if context.getSetting('mode') == 'admin' %}
                <a href="{{ url('admin_sonata_order_order_list') }}" class="btn btn-primary btn-small"><i class="icon-list icon-white"></i>&nbsp;{{ 'view_all_orders'|trans({}, 'SonataOrderBundle') }}</a>
            {% else %}
                <a href="{{ url('sonata_order_index') }}" class="btn btn-primary btn-small"><i class="icon-list icon-white"></i>&nbsp;{{ 'view_all_orders'|trans({}, 'SonataOrderBundle') }}</a>
            {% endif %}
        {% else %}
            {% if context.getSetting('mode') == 'admin' %}
                <p>{{ 'no_order_found'|trans({}, 'SonataOrderBundle') }}</p>
            {% else %}
                <p>{{ 'sonata.order.list.no_orders'|trans({}, 'SonataOrderBundle') }}</p>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
