{#
This file is part of the Sonata Project package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% trans_default_domain 'FOSUserBundle' %}

<div class="card border-success">
    <div class="card-header bg-success">
        {{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}
    </div>
    <div class="card-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}

            {{ form_widget(form) }}

            <div class="form-actions">
                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success float-right" />
            </div>

        {{ form_end(form) }}

    </div>
</div>
