{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default {{ settings.class }}">
        {% if settings.title is not empty %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if settings.icon %}
                        <i class="{{ settings.icon }}" aria-hidden="true"></i>
                    {% endif %}
                    {% if settings.translation_domain %}
                        {{ settings.title|trans({}, settings.translation_domain) }}
                    {% else %}
                        {{ settings.title }}
                    {% endif %}
                </h4>
            </div>
        {% endif %}

        <div class="panel-body">
            {% sonata_template_box 'This is the recent posts block.' %}

            <div class="list-group">
                {% for post in pager.getResults() %}
                    {% if context.getSetting('mode') == 'admin' and admin_pool is defined %}
                        <a class="list-group-item"
                           href="{{ admin_pool.getAdminByAdminCode('sonata.news.admin.post').generateUrl('edit', { 'id': post.id }) }}"
                        >

                        {% if post.isPublic %}
                            <span class="label label-success">{{ 'post_is_public'|trans({}, 'SonataNewsBundle') }}</span>
                        {% else %}
                            <span class="label">{{ 'post_is_not_public'|trans({}, 'SonataNewsBundle') }}</span>
                        {% endif %}&nbsp;

                        {{ post.title }} -
                        {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} -
                        {{ post.publicationDateStart | format_date }}
                        </a>
                    {% else %}
                        <a class="list-group-item" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                            {{ post.title }}
                        </a> -
                        {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} -
                        {{ post.publicationDateStart | format_date }}
                    {% endif %}
                {% else %}
                    <a class="list-group-item" href="#">{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="panel-footer">
            {% if context.getSetting('mode') == 'admin' and admin_pool is defined %}
                <a href="{{ admin_pool.getAdminByAdminCode('sonata.news.admin.post').generateUrl('list') }}"
                   class="btn btn-primary btn-block"
                >
                    <i class="fa fa-list"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}
                </a>
            {% else %}
                <a href="{{ url('sonata_news_archive') }}" class="btn btn-primary btn-block">
                    <i class="fa fa-list"></i>
                    {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
