{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="card {{ settings.class }}">
        {% if settings.title is not empty %}
            <div class="card-header blue lighten-4">
                    {% if settings.icon %}
                        <i class="{{ settings.icon }}" aria-hidden="true"></i>
                    {% endif %}
                    {% if settings.translation_domain %}
                        {{ settings.title|trans({}, settings.translation_domain) }}
                    {% else %}
                        {{ settings.title }}
                    {% endif %}
            </div>
        {% endif %}

        <div class="card-body">
            <div class="list-group">
                {% for comment in pager.getResults() %}
                    {% if context.getSetting('mode') == 'admin' and admin_pool is defined %}
                        <a class="list-group-item"
                           href="{{ admin_pool.getAdminByAdminCode('sonata.news.admin.comment').generateUrl('edit', { 'id': comment.id }) }}"
                        >
                            <span class="label label-{{ comment|sonata_status_class }}">
                                {% if comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_INVALID') %}
                                    {{ 'label_comment_invalid'|trans({}, 'SonataNewsBundle') }}
                                {% elseif comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_VALID') %}
                                    {{ 'label_comment_valid'|trans({}, 'SonataNewsBundle') }}
                                {% elseif comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_MODERATE') %}
                                    {{ 'label_comment_moderate'|trans({}, 'SonataNewsBundle') }}
                                {% else %}
                                    {{ 'label_unknown_status'|trans({}, 'SonataNewsBundle') }}
                                {% endif %}
                            </span>&nbsp;

                            {{ comment.name }} - {{ comment.message|truncate(30) }}
                        </a>
                    {% else %}
                        <a class="list-group-item"
                           href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}"
                        >
                            {{ comment.name }} - {{ comment.message|truncate(30) }}
                        </a>
                    {% endif %}
                {% else %}
                    <a href="#">{{ 'no_comment_found'|trans({}, 'SonataNewsBundle') }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="card-footer">
            {% if context.getSetting('mode') == 'admin' and admin_pool is defined %}
                <a href="{{ admin_pool.getAdminByAdminCode('sonata.news.admin.comment').generateUrl('list') }}"
                   class="btn btn-primary btn-block"
                >
                    <i class="fa fa-list"></i>
                    {{ 'view_all_comments'|trans({}, 'SonataNewsBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
