{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{#
    Default product template file, you can
      => customize the global template : Product:Product:view.twig
      => rewrite your own template
#}

{% extends 'SonataProductBundle:Product:view.html.twig' %}

{% block product_title %}{{ product.name }}{% endblock %}

{% block product_description %}
    <p>
        <strong>{{ 'training.level_title'|trans([], 'SonataProductBundle') }}&nbsp;:</strong> {{ product.level|trans([], 'SonataProductBundle') }}
        <br />
        <strong>{{ 'training.instructor_title'|trans([], 'SonataProductBundle') }}&nbsp;:</strong> {{ product.instructorName|trans([], 'SonataProductBundle') }}
        <br />
        <strong>{{ 'training.duration_title'|trans([], 'SonataProductBundle') }}&nbsp;:</strong> {{ product.duration|trans([], 'SonataProductBundle') }}
    </p>

    {{ product.description|raw }}
{% endblock %}

{% block product_gallery %}{% endblock %}
{% block product_delivery %}{% endblock %}

{% block product_basket %}

    <form action="{{ url('sonata_basket_add_product') }}" method="POST" >
        {% trans from 'SonataProductBundle' %}sonata.product.label_quantity{% endtrans %} {{ form_widget(form.quantity) }}

        <input type="submit" value="{% trans from 'SonataProductBundle' %}sonata.product.btn_add_to_basket{% endtrans %}" class="btn btn-small btn-primary"/>

        {{ form_rest(form) }}
    </form>

{% endblock %}