{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="alert alert-default">
    <strong>This is the basket page</strong>
    <div>Feel free to override it. This file can be found in <code>SonataBasketBundle:Basket:view.html.twig</code>.</div>
</div>

<h1>{% trans from 'SonataBasketBundle' %}sonata.basket.title_basket{% endtrans %}</h1>

{% block sonata_flash_messages %}
    {% for type in ['success', 'error', 'warning'] %}
        {% for message in app.session.flashBag.get(type) %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% if basket.hasBasketElements %}

    {{ form_errors(form) }}

    <form action="{{ url('sonata_basket_update') }}" method="POST" novalidate="novalidate">

        <table class="table table-bordered">

            <thead>
            <tr>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_information{% endtrans %}</th>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_price{% endtrans %}</th>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_quantity{% endtrans %}</th>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_total_excl{% endtrans %}</th>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_total_inc{% endtrans %}</th>
                <th>{% trans from 'SonataBasketBundle'%}header_basket_delete{% endtrans %}</th>
            </tr>
            </thead>

            <tbody>
            {# call each product controller to render its own view #}
            {% for basketElement in basket.getBasketElements %}
                {% render controller('SonataProductBundle:Product:renderFormBasketElement', {
                'formView':       form.basketElements.children[basketElement.position],
                'basketElement':  basketElement,
                'basket':         basket
                }) %}
            {% endfor %}

            {# mark the widget as rendered ... TODO: create a custom widget type ...#}
            {% set dummy = form.basketElements.setrendered %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" rowspan="3"></td>
                <th>{% trans from 'SonataBasketBundle'%}footer_basket_total_excl{% endtrans %}</th>
                <td colspan="2" class="number"><b>{{ basket.getTotal(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
            </tr>
            <tr>
                <th>{% trans from 'SonataBasketBundle'%}footer_basket_total_vat{% endtrans %}</th>
                <td colspan="2" class="number"><b>{{ (basket.getTotal(true) - basket.getTotal(false))|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
            </tr>
            <tr>
                <th>{% trans from 'SonataBasketBundle'%}footer_basket_total_inc{% endtrans %}</th>
                <td colspan="2" class="number"><b>{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
            </tr>
            </tfoot>
        </table>

        <div class="well">
            <button type="submit" class="btn btn-success"><i class="icon-refresh icon-white"></i>&nbsp;{% trans from 'SonataBasketBundle' %}sonata.basket.btn_update_basket{% endtrans %}</button>

            <a href="{{ url('sonata_basket_authentication') }}" class="btn btn-primary pull-right">{% trans from 'SonataBasketBundle' %}sonata.basket.link_next_step{% endtrans %}&nbsp;<i class="icon-arrow-right icon-white"></i></a>
        </div>

        {{ form_rest(form) }}
    </form>
{% else %}
    <p>{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_is_empty{% endtrans %}. <a href="{{ path('sonata_category_index') }}">{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_go_back_shopping{% endtrans %}</a>.</p>
{% endif %}
