{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block sonata_flash_messages %}
    {% include '@SonataCore/FlashMessage/render.html.twig' %}
{% endblock %}

{% include '@SonataBasket/Basket/stepper.html.twig' with {step: 'delivery'} %}

{{ form_start(form, {'attr': {'role': 'form', 'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        {% if form.addresses is defined %}
            <div class="col-sm-6">
                <div class="card card-primary">
                    <div class="card-header blue lighten-4">
                        {% trans from 'SonataBasketBundle' %}sonata.basket.delivery_use_existing_title{% endtrans %}
                    </div>
                    <ul class="list-group">
                    {% set has_deliverable = false %}

                    {% for address in form.addresses %}
                        {% set deliverable = sonata_address_deliverable(addresses.get(address.vars.value), basket) %}
                        {% if deliverable %}
                            {% set has_deliverable = true %}
                        {% endif %}

                        <li class="list-group-item">
                            <div class="radio">
                                {% if false == deliverable %}
                                    <span class="label label-danger">
                                        {% trans from 'SonataBasketBundle' %}sonata.basket.message_country_not_delivery_zone{% endtrans %}
                                    </span>
                                {% endif %}

                                <label for="{{ address.vars.id }}"{% if false == deliverable %} class="disabled"{% endif %}>
                                    {{ form_widget(address, {
                                        'checked': (address.vars.value in (form.addresses.vars.preferred_choices|keys)),
                                        'disabled': false == deliverable
                                    }) }}

                                    {{ sonata_address_render(form.vars.addresses[address.vars.value], true, true, 'delivery') }}
                                </label>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>

                    <div class="card-body">
                        {{ form_widget(form.useSelected, {
                            'attr': {'class': 'float-right btn btn-primary'},
                            'disabled': false == has_deliverable
                        }) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-success">
                    <div class="card-header blue lighten-4">
                        {% trans from 'SonataBasketBundle' %}sonata.basket.delivery_create_new_title{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12">
                {{ form_rest(form) }}
            </div>
        {% endif %}
    </div>

    <div class="well">
        <a href="{{ url('sonata_basket_index') }}" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;{% trans from 'SonataBasketBundle' %}sonata.basket.link_previous_step{% endtrans %}</a>

        <button type="submit" class="btn btn-primary float-right">{{ 'sonata.basket.btn_update_delivery_step'|trans({}, 'SonataBasketBundle') }}&nbsp;<i class="glyphicon glyphicon-arrow-right icon-white"></i></button>
    </div>
{{ form_end(form) }}
