{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-comment">
        {% if settings.title %}
            <h3 class="sonata-news-block-recent-comment">{{ settings.title }}</h3>
        {% endif %}

        <div class="alert alert-default">
            <strong>This is the recent news comments block</strong>
            <div>Feel free to override it. This template can be found in <code>SonataNewsBundle:Block:recent_comments.html.twig</code>.</div>
        </div>

        <ul class="sonata-blog-post-container">
            {% for comment in pager.getResults() %}
                {% if context.getSetting('mode') == 'admin' %}
                    <li>
                        {% if comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_INVALID') %}
                            <span class="label label-important">{{ 'label_comment_invalid'|trans({}, 'SonataNewsBundle') }}</span>
                        {% elseif comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_VALID') %}
                            <span class="label label-success">{{ 'label_comment_valid'|trans({}, 'SonataNewsBundle') }}</span>
                        {% elseif comment.status == constant('Sonata\\NewsBundle\\Model\\CommentInterface::STATUS_MODERATE') %}
                            <span class="label label-warning">{{ 'label_comment_moderate'|trans({}, 'SonataNewsBundle') }}</span>
                        {% else %}
                            <span class="label">{{ 'label_unknown_status'|trans({}, 'SonataNewsBundle') }}</span>
                        {% endif %}

                        <a href="{{ url('admin_sonata_news_comment_edit', { 'id': comment.id }) }}">{{ comment.name }} - {{ comment.message|truncate(30) }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('admin_sonata_news_comment_edit', { 'id': comment.id }) }}">{{ comment.name }} - {{ comment.message|truncate(30) }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li>{{ 'no_comment_found'|trans({}, 'SonataNewsBundle') }}</li>
            {% endfor %}
        </ul>

        {% if context.getSetting('mode') == 'admin' %}
            <a href="{{ url('admin_sonata_news_comment_list') }}" class="btn btn-primary btn-small"><i class="icon-list icon-white"></i> {{ 'view_all_comments'|trans({}, 'SonataNewsBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}
