{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-post">
        {% if settings.title %}
            <h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>
        {% endif %}

        <div class="alert alert-default">
            <strong>This is the recent posts block</strong>
            <div>Feel free to override it. This template can be found in <code>SonataNewsBundle:Block:recent_posts.html.twig</code>.</div>
        </div>

        <ul class="sonata-blog-post-container">
            {% for post in pager.getResults() %}
                {% if context.getSetting('mode') == 'admin' %}
                    <li>
                        {% if post.ispublic %}
                            <span class="label label-success">{{ 'post_is_public'|trans({}, 'SonataNewsBundle') }}</span>
                        {% else %}
                            <span class="label">{{ 'post_is_not_public'|trans({}, 'SonataNewsBundle') }}</span>
                        {% endif %}

                        <a href="{{ url('admin_sonata_news_post_edit', { 'id': post.id }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</li>
                {% else %}
                    <li><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</li>
                {% endif %}
            {% else %}
                <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
            {% endfor %}
        </ul>

        {% if context.getSetting('mode') == 'admin' %}
            <a href="{{ url('admin_sonata_news_post_list') }}" class="btn btn-primary btn-small"><i class="icon-list icon-white"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% else %}
            <a href="{{ url('sonata_news_archive') }}"> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}
