{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block sonata_order_title %}
    <div class="alert alert-default">
        <strong>This is an order view page</strong>
        <div>Feel free to override it. This template can be found in <code>SonataOrderBundle:Order:view.html.twig</code>.</div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <h3>{% trans from 'SonataOrderBundle' %}sonata.order.title_order{% endtrans %} - {{ order.reference }}</h3>
        </div>
        <div class="span3" style="margin-top:15px;">
            <a href="{{ url('sonata_invoice_view', {'reference' : order.reference}) }}" class="btn btn-primary"><i class="icon-file icon-white"></i>&nbsp;{% trans from 'SonataOrderBundle' %}sonata.order.view_invoice{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block sonata_order_top %}
    <div class="row-fluid">
        <div class="row-fluid">
            {% block sonata_order_dates_statuses %}
                <div class="span6">
                    {% block sonata_order_dates %}
                        {% set date_time_size = constant('IntlDateFormatter::SHORT') %}
                        <h4>{% trans from 'SonataOrderBundle' %}sonata.order.view.subtitle_dates{% endtrans %}</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.created_at{% endtrans %}</th>
                                <td>{{ order.createdAt|format_datetime(null, null, date_time_size, date_time_size) }}</td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.validated_at{% endtrans %}</th>
                                <td>
                                    {% if order.validatedAt %}
                                        {{ order.validatedAt|format_datetime(null, null, date_time_size, date_time_size) }}
                                    {% else %}
                                        /
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.updated_at{% endtrans %}</th>
                                <td>{{ order.updatedAt|format_datetime(null, null, date_time_size, date_time_size) }}</td>
                            </tr>
                        </table>
                    {% endblock %}
                </div>
                <div class="span6">
                    {% block sonata_order_statuses %}
                        <h4>{% trans from 'SonataOrderBundle' %}sonata.order.view.subtitle_statuses{% endtrans %}</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.order_status{% endtrans %}</th>
                                <td><span class="label{{ order|status_class(null, 'important') ? ' label-'~order|status_class(null, 'important') : '' }}">{{ order.statusName|trans({}, 'SonataOrderBundle') }}</span></td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.payment_status{% endtrans %}</th>
                                <td><span class="label{{ order|status_class('payment', 'important') ? ' label-'~order|status_class('payment', 'important') : '' }}">{{ order.paymentStatusName|trans({}, 'SonataPaymentBundle') }}</span></td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery_status{% endtrans %}</th>
                                <td><span class="label{{ order|status_class('delivery', 'important') ? ' label-'~order|status_class('delivery', 'important') : '' }}">{{ order.deliveryStatusName|trans({}, 'SonataDeliveryBundle') }}</span></td>
                            </tr>
                        </table>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
        <div class="row-fluid">
            {% block sonata_order_top_right %}
                <div class="span6">
                    {% block sonata_order_delivery %}
                        <h4>{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery_title{% endtrans %}</h4>
                        <p>{{ order.getFullDelivery('<br/>')|raw }}</p>
                    {% endblock %}
                </div>
                <div class="span6">
                    {% block sonata_order_billing %}
                        <h4>{% trans from 'SonataOrderBundle' %}sonata.order.view.billing_title{% endtrans %}</h4>
                        <p>{{ order.getFullBilling('<br/>')|raw }}</p>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block sonata_order_elements %}
    <!-- Elements -->
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="span12">
            {#<h4>{% trans from 'SonataOrderBundle' %}sonata.order.view.elements{% endtrans %}</h4>#}
            <table class="table table-bordered">
                <tr>
                    {% block sonata_order_elements_header %}
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.label{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.unit_price{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.quantity{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_excl{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</th>
                    {% endblock %}
                </tr>
                {% for element in order.orderElements %}
                    <tr>
                        {% block sonata_order_element %}
                            <td>{{ element.designation }}</td>
                            <td class="number">{{ element.unitPrice(false)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                            <td class="number">{{ element.quantity }}</td>
                            <td class="number">{{ element.total|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                            <td class="number">{{ element.total(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                        {% endblock %}
                    </tr>
                {% endfor %}
                {% block sonata_order_elements_sumup %}
                    <tr>
                        <td colspan="3" rowspan="4">&nbsp;</td>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery{% endtrans %}</th>
                        <td class="number">{{ order.deliveryCost|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    </tr>
                    <tr>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_excl{% endtrans %}</th>
                        <td class="number">{{ order.totalExcl|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    </tr>
                    <tr>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_vat{% endtrans %}</th>
                        <td class="number">{{ (order.totalInc - order.totalExcl)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    </tr>
                    <tr>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</th>
                        <td class="number">{{ order.totalInc|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    </tr>
                {% endblock %}
            </table>
        </div>
    </div>
{% endblock %}

{% block sonata_order_footer %}
{% endblock %}
