{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
{% apply spaceless %}

    <a href="https://twitter.com/share" class="twitter-share-button"
        {% if settings.url %}data-url="{{ settings.url }}"{% endif %}
        {% if settings.text %}data-text="{{ settings.text }}"{% endif %}
        {% if settings.via %}data-via="{{ settings.via }}"{% endif %}
        {% if settings.recommend %}data-related="{{ settings.recommend }}"{% endif %}
        {% if settings.hashtag %}data-hashtags="{{ settings.hashtag }}"{% endif %}
        {% if not settings.show_count %}data-count="none"{% endif %}
        {% if settings.large_button %}data-size="large"{% endif %}
        data-lang="{{ settings.language }}"
        {% if settings.opt_out %}data-dnt="true"{% endif %}>
        Tweet
    </a>

{% endapply %}
{% endblock %}
