{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
{% apply spaceless %}

    {% if settings.hashtag %}

        <a href="https://twitter.com/intent/tweet?button_hashtag={{ settings.hashtag }}" class="twitter-hashtag-button"
            {% if settings.text %}data-text="{{ settings.text }}"{% endif %}
            {% if settings.recommend %}data-related="{{ settings.recommend }}"{% endif %}
            {% if settings.url %}data-url="{{ setting.url }}"{% endif %}
            {% if settings.large_button %}data-size="large"{% endif %}
            data-lang="{{ settings.language }}"
            {% if settings.opt_out %}data-dnt="true"{% endif %}>
            Tweet {{ settings.hashtag }}
        </a>

    {% endif %}

{% endapply %}
{% endblock %}
