{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% spaceless %}

    {% set link = url('sonata_product_view', {'productId': product.id, 'slug': product.slug}) %}

    <div class="card border-info">
        <div class="card-header blue lighten-4" itemprop="name" class="truncate">
            <a href="{{ link }}">{{ product.name }}</a>
        </div>

            {% if product.image %}
                <a class="card-img-top" href="{{ link }}">
                    {% media product.image, 'small' with {'itemprop': 'image', 'class': 'img-responsive', 'width': '100%', 'height': '130px'} %}
                </a>
            {% else %}
                {# default product picture goes here #}
            {% endif %}

        <div class="card-footer">
            <span class="text-left">
                {% include "@SonataBasket/Basket/add_product_form_button.html.twig" %}
            </span>
            <span itemprop="price" class="text-right">
                {% if not sonata_product_has_variations(product) %}
                    {{ sonata_product_price(product, currency, true)|number_format_currency(currency.label) }}
                {% else %}
                    {% trans from 'SonataProductBundle' %}product_variation_min_price{% endtrans %}

                    {% set cheapest_variation = sonata_product_cheapest_variation(product) %}
                    {{ sonata_product_price(cheapest_variation, currency, true)|number_format_currency(currency.label) }}
                {% endif %}
            </span>
        </div>
    </div>

{% endspaceless %}
